@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<kol-button
  _label="Click me"
  _variant="primary"
  @onclick="IncrementCount"
></kol-button>

@code {
  private int currentCount = 0;
  
  private void IncrementCount()
  {
    currentCount++;
  }
} 
